<div class="top-bg-color d-flex flex-row-reverse" >
	<div class="" *ngIf = "role=='NONE'">
		<a [routerLink] = "['/register']">Register</a>
		<a [routerLink] = "['/login']">Sign in</a>
	</div>
	<div *ngIf = "role != 'NONE'">
		<a (click)="logout()">Logout</a>
	</div>
	<div *ngIf = "role=='CONSUMER'">
		<a [routerLink] = "['/order']">Order status</a>
	</div>
</div>
<div class="col bg-dark">
	<div class="row">
		<div class="row mt-1 ml-2 mr-5">
			<div class="row-sm-6 mr-2">
				<button type="button" class="btn btn-success" (click)= "_toggleSidebar()"><i class="fa fa-bars"></i></button>
			</div>
			<div class="row-sm-6">
				<h3 style="color: white" [routerLink] = "['/']">D.Teach</h3>
			</div>
		</div>
		<div class="col-sm-8 mt-1">
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						All
					</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Action</a>
						<div role="separator" class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Action</a>
					</div>
				</div>
				<input type="text" class="form-control" [(ngModel)] = 'keyword'>
				<span class="input-group-btn">
					<button class="btn btn-secondary" type="button" (click)="search()">Go!</button>
				</span>
			</div>
		</div>
		<div class="row-sm-6 mt-2">
			<div class="float-right">
				<a [routerLink]="['/cart']"><i class="fa fa-shopping-cart" style="color: white; font-size: 30px"></i></a>
			</div>
			
		</div>
		
		
	</div>
</div>
