<ng-sidebar-container style="height: 100vh;">
	<ng-sidebar [(opened)]= "_opened" [closeOnClickOutside] = "true" [showBackdrop] = "true" (onOpenStart)="openingSideBar()" (onCloseStart) = "closingSideBar()" position="left">
		<ul class="list-group">
			<li class="list-group-item catalog-link" *ngFor='let i of category' 
				[routerLink] = "['product',i.categoryName, i.idCategory]">
				{{i.categoryName}}
			</li>
		</ul>
	</ng-sidebar>
	<div ng-sidebar-content>
		<header>
			<app-header (toggleSideBar) = "toggleSideBar($event)"></app-header>
		</header>
		<main>
			<!--app-main></app-main-->
			<router-outlet></router-outlet>
		</main>
		<footer>
			
		</footer>
	</div>
</ng-sidebar-container>