<!--div class="p-3 d-flex flex-lg-row flex-wrap">
	<div class="card flex-fill" style="width: 15rem;" *ngFor = 'let i of productList'>
		<img [routerLink]="['/product-detail/1/1']" class="card-img-top product-image" [src]="'assets/'+ i.image" [alt]="i.productName">
		<div class="card-body">
			<a class="card-title">{{i.productName}}</a>
			<p class="card-text">{{i.price}}</p>
			<a (click)="addToCart(i.idProduct)" class="btn btn-primary">add to cart</a>
		</div>
	</div>
	
</div-->

<div class="container">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-md-3" *ngFor = 'let i of productList'>
					<div class="card mb mt-5" >
						<img class="card-img-top product-image" 
						[routerLink]="['/product-detail/' + i.productName + '/' + i.idProduct ]"
						[src]="'assets/'+ i.image" [alt]="i.productName">
						<div class="card-body mb">
							<h5 class="card-title">{{i.productName}}</h5>
							<p class="card-text">{{i.price | currency : "VND"}}</p>
							<button type="button" class="btn btn-primary mb"
								(click)="addToCart(i.idProduct)" >Add to card</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ul class="pagination pl-3" >
	<li class="page-item" [ngClass]="{'active': selectedIndex == i+1}" *ngFor= "let i of productListCount">
		<a class="page-link"  (click)="getParams(i+1)">{{i + 1}}</a>
	</li>
</ul>
<div *ngIf='productList.length == 0'>
	<h1 style="margin-left: 30%; margin-top: 100px; margin-bottom: 10px">Product is not found</h1>
	<i class="fa fa-exclamation-circle fa-5x" style="font-size: 300px; margin-left: 35%"></i>
</div>